{% extends "apnea_detection/base.html" %}


{% block heading %}
<div class="jumbotron text-center">
    <h1 class="display-4">Sleep Apnea Detection Pipeline</h1>
</div>
{% endblock %}



{% block body %}
<div class="container">
  <!----Description-->
  <h5>
  This is an end-to-end pipeline to detect and predict OSA apnea events 
  using a Long-Short Term Memory (LSTM) neural network.  
  The model is trained on positive/negative sequences of breathing data.
  </h5>
  <br>

  <!----Datasets-->
  <h4>Datasets supported</h4>
  <ul>
    <li>DREAMS 
    <li>MIT-BIH
    <li>UCDDB
  </ul>
  </p>

  <!----Run apnea detection pipeline-->
  <h4>Steps to run apnea detection pipline</h4>
  <ol>
    <li>Select excerpt, dataset, apnea type, normalization parameters </li>
    <li>Run machine learning model  </li>
  </ol>

  {% autoescape off %}
  {{ plot_div }}
  {% endautoescape %}

  <a class="btn btn-dark btn-lg" href="{% url 'visualize' %}" role="button">Begin Apnea Detection Pipeline</a>
</div>


{% endblock %}