{% extends "apnea_detection/base.html" %}


{% block heading %}
<div class="jumbotron text-center">
    <h1 class="display-4">Make predictions</h1>
</div>

{% if message %} 
<div class="alert alert-success" role="alert">{{message}}</div> 
{% endif %}

{% endblock %}


{% block body %}


<div class="container">
    <div class="progress" style="height:20px">
        <div class="progress-bar" style="width:20%;height:100px"></div>
    </div>
</div>
<div class="container">
    <h4>Select model hyperparameters</h4>
    <br>
    <form method="post" action="{% url 'inference' %}">
        <table>
            {{ form }}
        </table>
        {% csrf_token %}
        <hr>
        <button id="inference-submit" type="submit" class="btn btn-primary">Run</button>
    </form>
</div>


<div>
    <ul class="list-group">
        {% for key, value in results.items %} 
        <li class="list-group-item list-group-item-primary">
            {{key}}:{{value}}
        </li>
        {% endfor %}
    </ul>
  </div>
  
<!-- control progress bar -->
<!-- <script>
var i = 0;
function makeProgress(){
    if(i < 100){
        i = i + 1;
        $(".progress-bar").css("width", i + "%").text(i + " %");
    }
    // Wait for sometime before running this script again
    // setTimeout("makeProgress()", 100);
}
makeProgress();
</script> -->
<!-- <div class="container">
    <br>
    {{results|safe}}
</div> -->

{% endblock %}