{% extends "apnea_detection/base.html" %}


{% block heading %}
<div class="jumbotron text-center">
    <h1 id="counter" class="display-4">Train model</h1>
</div>

{% if message %} 
<div class="alert alert-success" role="alert">{{message}}</div> 
{% endif %}

{% endblock %}


{% block body %}

<!-- 
<div class="container">
    <div class="progress" style="height:20px">
        <div class="progress-bar" style="width:20%;height:100px"></div>
    </div>
</div> -->

{% if form %}
<div class="container">
    <h4>Select model hyperparameters</h4>
    <br>
    <form method="post" action="{% url 'train' %}">
        <table>
            {{ form }}
        </table>
        {% csrf_token %}
        <hr>
        <button id="inference-submit" type="submit" class="btn btn-primary">Run</button>
    </form>
</div>
{% endif %}
<!-- 
<script>
var seconds = 0;
var counter = document.getElementById('counter');

function countSeconds() {
    seconds += 1;
    counter.innerText = "Training for " + seconds + " seconds...";
}

var cancel = setInterval(countSeconds, 1000);
</script> -->
<!-- control progress bar -->
<!-- <script>
var i = 0;
function makeProgress(){
    if(i < 100){
        i = i + 1;
        $(".progress-bar").css("width", i + "%").text(i + " %");
    }
    // Wait for sometime before running this script again
    // setTimeout("makeProgress()", 100);
}
makeProgress();
</script> -->
<!-- <div class="container">
    <br>
    {{results|safe}}
</div> -->

{% endblock %}